@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 40%;
  height: 60%;

  margin: auto;
  padding: 2rem 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  background: white;
}
